:root{
    --light-border: 3px solid rgba(255, 255, 255, 0.3);
    --dark-border:3px solid rgba(0, 0, 0, 0.3);
    
    --modal-background-shading:rgba(0, 0, 0, 0.5);

    --default-background-color: #fdfcdc;
    --button-color:#fed9b7;
    --button-text-hover:#8800ff;

    --default-spacing: 10px;
}


.modal {
    text-align:center;
}

.modal-dialog {
    margin: auto;

    max-width:50%;
    min-width:30%;
}

body{
    background-color:var(--default-background-color);
    margin-top:80px;
}

.pokemon-list{
    list-style-type:none;
    padding:0;
    margin: var(--default-spacing), auto;
    text-align:center;
}

.pokemonButton {
    background-color: var(--button-color);

    border-top: var(--light-border);
    border-left: var(--light-border);
    border-bottom: var(--dark-border);
    border-right: var(--dark-border);

    font-size:24px;
    font-weight:bold;
    text-align:center;

    width: 30%;
    min-width:fit-content;
    margin: var(--default-spacing);
    
    color:black;  
}

.pokemonButton:hover{
    color: var(--button-text-hover);
    background-color: var(--button-color);

    border-top: var(--light-border);
    border-left: var(--light-border);
    border-bottom: var(--dark-border);
    border-right: var(--dark-border);

}


.pokemonImage {
    width:300px;
    max-width: 50%;

}

.navbar {
    background-color: var(--button-color);
    border: var(--dark-border);
}

.pageTitle {

    color: black;
    margin: auto;
    font-weight:bold;
    font-size:36px;

}